doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', href='/stylesheets/chatroom.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')
        script(src='https://use.fontawesome.com/45e03a14ce.js')
    body
        nav.navbar.navbar-default
            #nav-brand-container
                a.navbar-brand(href='#')
                    //img(src='/stylesheets/dummy/logo1.png', alt='Dispute Bills')
            #navbar-quiz.container
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigatipon
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/dashboard') Home
                        li
                            a(href='/dashboard/profile/#{auth.username}')
                                img.nav-profile.img-circle(src='')
                                |  Profile
                        li#message
                            a#addClass(href='/dashboard/chatroom')
                                i.fa.fa-comments#messenger

                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.glyphicon.glyphicon-cog(aria-hidden='true')
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/auth/logout') Logout
                    form.hidden-xs-down.navbar-form.search-menu.form-inline.pull-right
                        #div-search.input-group(role='group')
                            input.search.form-control(type='text', name='search', placeholder='Username..', aria-label='Username', aria-describedby='basic-addon1')
                            .input-group
                                li.nav-item.dropdown.show(style='list-style-type:none;')
                                    .menuItem.dropdown-menu.dropdown-menu-right(role='menu', style='display:none')
                                        h6.dropdown-header.active(tabindex='-1') no results found
                            span.input-group-btn
                                button#searchButton.btn.btn-danger(type='button')
                                    span.glyphicon.glyphicon-search

        .main_section
            .container
                .chat_container
                    .col-sm-3.chat_sidebar
                        .row
                            .member_list
                                ul.list-unstyled
                                    for user in users
                                        if(user.id != auth.id)
                                            li.chatsidebar.left.clearfix
                                                span.chat-img.pull-left
                                                    img.img-circle(src='/images/#{user.upload}', alt='User Avatar')
                                                .chat-body.clearfix
                                                    .header_sec
                                                        strong.primary-font.username #{user.username}


                            // chat_sidebar
                    .col-sm-9.message_section
                        .row
                            .new_message_head
                                .pull-left
                                    button
                                        i.fa.fa-plus-square-o(aria-hidden='true')
                                        |  New Message
                            // new_message_head
                            .chat_area
                                ul.list-unstyled
                                    for message in messages
                                        for user in users
                                            if (message.sender_id === user.id && message.thread_id == thread)
                                                li.left.clearfix
                                                    span.chat-img1.pull-left
                                                        img.img-circle(src='/images/#{user.upload}', alt='User Avatar')
                                                    .chat-body1.clearfix
                                                        p
                                                            | #{message.message}
                                                        .chat_time.pull-right #{format_moment(message.created_at).format('L HH:mmA')}
                            // chat_area
                            .message_write
                                form#form-message(method="post")
                                    textarea#chatMessage.form-control(placeholder='type a message')
                                    .clearfix
                                    .chat_bottom
                                    input#authUsername(type='hidden', value='#{auth.username}')
                                    input#authPic(type='hidden', value='#{auth.upload}')
                                    input#authID(type='hidden', value='#{auth.id}')
                                    input#receiverUsername(type='hidden', value='#{receiver}')
                                    input#thread(type='hidden', value='#{thread}')
                                    button#sendMessage.pull-right.btn.btn-success(type='submit', name="submit") Send
                // message_section
    script(src='/javascripts/jquery-3.2.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/dateFormat.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript').
        $(document).ready(function () {
            var socket = io.connect();
            var formMessage = $('#form-message');
            var chatMessage = $('#chatMessage');
            var username = $('#authUsername').val();
            var receiver = $('#receiverUsername').val();
            var userID = $('#authID').val();
            var thread = $('#thread').val();
            var authPic = $('#authPic').val();

            var roomID;

            $('.chatsidebar').on('click', function () {
                var receiver = $(this).find('.header_sec').find('.username').html();
                $.ajax({
                    type: "POST",
                    url: "/dashboard/createThread",
                    data: {receiver: receiver},
                    dataType: 'json'
                }).done(function (data) {
                    if (data.success) {
                        window.location.href = 'https://' + window.location.host + '/chatroom/' + data.id + '/' + receiver;
                    } else {
                        window.location.href = 'https://' + window.location.host + '/chatroom/' + data.id + '/' + receiver;
                    }
                });
            });

            socket.emit('message user', username);

            formMessage.submit(function (e) {
                e.preventDefault();
                socket.emit('send message', {message:chatMessage.val(), receiver:receiver, userID:userID, thread:thread});
                chatMessage.val('');
            });

            socket.on('new message', function (data) {
                console.log(data);
                var html = '';
                html += '<li class="left clearfix">' +
                    '<span class="chat-img1 pull-left">' +
                    ' <img src="/images/'+data.nick.upload+'" alt="User Avatar" class="img-circle"/>' +
                    '</span>' +
                    '<div class="chat-body1 clearfix">' +
                    '<p>' +
                    data.msg +
                    '</p>'+
                    '<div class="chat_time pull-right">'+moment(data.created).format('L HH:mmA')+'</div>' +
                    '</div>' +
                    '</li>';
                $('.chat_area ul').append(html);
            });
        });