doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/chat.css')
    body
        nav.navbar.navbar-default
            #nav-brand-container
                a.navbar-brand(href='#')
                    img(src='/stylesheets/dummy/logo1.png', alt='Dispute Bills')
            #navbar-quiz.container
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigatipon
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/dashboard') Home
                        li
                            a#usernameAuth(href='/dashboard/profile/#{auth.username}')
                                img.nav-profile.img-circle(src='')
                                |  Profile
                        li#message
                            a#addClass(href='/chatroom')
                                i.fa.fa-comments#messenger

                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.glyphicon.glyphicon-cog(aria-hidden='true')
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/auth/logout') Logout
                    form.hidden-xs-down.navbar-form.search-menu.form-inline.pull-right
                        #div-search.input-group(role='group')
                            input.search.form-control(type='text', name='search', placeholder='Username..', aria-label='Username', aria-describedby='basic-addon1')
                            .input-group
                                li.nav-item.dropdown.show(style='list-style-type:none;')
                                    .menuItem.dropdown-menu.dropdown-menu-right(role='menu', style='display:none')
                                        h6.dropdown-header.active(tabindex='-1') no results found
                            span.input-group-btn
                                button#searchButton.btn.btn-danger(type='button')
                                    span.glyphicon.glyphicon-search


        section.row.sectionUser
            #divpost.col-md-6.col-md-offset-3
                if(success_msg != "")
                    .alert.alert-success.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
                        strong Success!
                            | #{success_msg}
                if(error_msg != "")
                    .alert.alert-danger.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
                        strong Warning!
                            | #{error_msg}
                .alertMessage.alert(style='display: none; margin-top:10px;')
                // Say Hi to the User by User Authentication
                h4
                    | Hi #{auth.username}.
                form#createPost(method='post', action="/dashboard/createpost", enctype="multipart/form-data")
                    .form-group#textarea-tweet
                        textarea#txtareaPost.form-control(name='post', rows='4', placeholder="What's on your mind..", required='')
                    #post-group.pull-right
                        .form-group#imagepost-group
                            input#select_image(type='file', name='postimage', accept='image/*|video/*')
                        .form-group#createpost-group
                            input.hiddenAuthID.form-control(type='hidden', name='hidden_id', value='#{auth.id}')
                            input.hiddenAuthName.form-control(type='hidden', value='#{auth.username}')
                            button#btnAdd.btn.btn-primary(type='submit', name="submit") Create Post


        section#section_posts.row.section2
            if(posts)
                for post in posts
                    .showdata-index.col-md-6.col-md-offset-3
                        article.post
                            .info.postByUser
                                .row
                                    .pic-user
                                            a(href='/dashboard/profile/#{post.username}')
                                                img.postImage.img-circle(src='/images/#{post.upload}', alt='avatar')
                                    .col-md-6.userName
                                        a(href='/dashboard/profile/#{post.username}')
                                            h4.header-post-user #{post.username}
                                        if(post.is_share)
                                            p Shared on #{format_moment(post.created_at).format("MMM DD, YYYY HH:mmA")} from
                                                a(href='javascript:;')
                                                    |  #{post.user_share}
                                        else
                                            p Posted on #{format_moment(post.created_at).format("MMM DD, YYYY HH:mmA")}
                            p.contentPost #{post.status}
                            .gallery
                                if(post.image != '')
                                    .eachImage
                                        img(src='/images/post-images/#{post.image}')
                                if(post.video != '')
                                    .post-video
                                        video(width='400', controls='')
                                            source.video_here(src='/images/post-images/#{post.video}')
                                            |     Your browser does not support HTML5 video.
                            - var isLike = 'Like'
                            for postlike in post.like
                                if(postlike.is_like && postlike.user_id == auth.id)
                                   - isLike = "Liked"
                            .interaction.post-interact(user_id="#{post.user_id}", post_id="#{post._id}")
                                a.like(href='javascript:;')
                                    | #{isLike}
                                    |  |
                                a.commentTag(href='javascript:;')  Comment |
                                if(post.user_id != auth.id)
                                    a.share(href='javascript:;')  Share |
                                .form-comment
                                    .commentSection
                                    if(post.comment)
                                        for comment in post.comment
                                            for user in users
                                                if(comment.user_id == user.id)
                                                    .row.imageCol
                                                        .col-md-1
                                                            a(href='/dashboard/profile/#{user.username}')
                                                                img.imageComment(src="/images/#{user.upload}", alt='sample profile pic')
                                                        .col-md-10
                                                            a(href='/dashboard/profile/#{user.username}')
                                                                | #{user.username}
                                                            p Commented on #{format_moment(comment.created_at).format("MMM DD, YYYY HH:mmA")}
                                                            .commentArea.jumbotron
                                                                p.contentComment #{comment.comment}
                                    form(action='', method='post')
                                        .form-group.comment-group
                                            textarea.commentBox.form-control.commentBox(name='commentBox', rows='2', placeholder='Type your comment here..')
                                        input.hiddenPost.form-control(type='hidden', name='hidden_id', value='#{post._id}')
                                        button.btn.btn-default.commentSubmit(type='button') Comment
                            .appendLike
                                - var countLike = 0
                                - var firstuser = ''
                                - var otheruser = ''
                                if(post.like.length > 0)
                                    for postlikeuser in post.like
                                        if(postlikeuser.is_like)
                                            - countLike += 1
                                    if(countLike > 1)
                                        for postlikeuser in post.like
                                            for user in users
                                                if(postlikeuser.user_id == user.id)
                                                    if(user.id == auth.id)
                                                        - firstuser = "You"
                                                    else
                                                        - otheruser = user.username
                                        if(firstuser != '')
                                            | You #{countLike-1} others like this
                                    else if(countLike === 1)
                                        for postlikeuser in post.like
                                            for user in users
                                                if(postlikeuser.user_id == user.id)
                                                    if(user.id == auth.id)
                                                        - firstuser = "You"
                                                    else
                                                        - firstuser = user.username
                                        | #{firstuser} like this


        #shareModal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Confirm Share
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button#btnShare.btn.btn-info(type='button') Ok
                // /.modal-content
            // /.modal-dialog
        // end delete modal

        #live-chat
            header.clearfix
                h4 Online
            .chat(style="display:none")
                .chat-history


                        // end chat-message-content
                    // end chat-message
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')

    script(src='/javascripts/jquery-3.2.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/dateFormat.min.js')
    script(src='/javascripts/api/main.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/api/chat.js')

