doctype html
html
    head
        title  K-Pop World
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/dashboard.css')

    body
        nav.navbar.navbar-default
            #nav-brand-container
                a.navbar-brand(href='micro-blog.php')
                    img(src='/stylesheets/dummy/logo1.png', alt='Dispute Bills')
            #navbar-quiz.container
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigatipon
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='') Home
                        li
                            a(href='')
                                img.nav-profile.img-circle(src='')
                                |  Profile
                        li#message
                            a(href='#')
                                i.fa.fa-comments#messenger

                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                span.glyphicon.glyphicon-cog(aria-hidden='true')
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/auth/logout') Logout
                    form.hidden-xs-down.navbar-form.search-menu.form-inline.pull-right
                        #div-search.input-group(role='group')
                            input#search.form-control(type='text', name='search', placeholder='Username..', aria-label='Username', aria-describedby='basic-addon1')
                            .input-group
                                li.nav-item.dropdown.show(style='list-style-type:none;')
                                    #menuItem.dropdown-menu.dropdown-menu-right(role='menu', style='display:none')
                                        h6.dropdown-header.active(tabindex='-1') no results found

        section.row.sectionUser
            #divpost.col-md-6.col-md-offset-3
                if(success_msg != "")
                    .alert.alert-success.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
                        strong Success!
                            | #{success_msg}
                if(error_msg != "")
                    .alert.alert-danger.alert-dismissable(role='alert')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') x
                        strong Warning!
                            | #{error_msg}
                .alertMessage.alert(style='display: none; margin-top:10px;')
                // Say Hi to the User by User Authentication
                h4
                    | Hi Dave.
                form#createPost(method='post', action="/dashboard/createpost", enctype="multipart/form-data")
                    .form-group#textarea-tweet
                        textarea#txtareaPost.form-control(name='post', rows='4', placeholder="What's on your mind..", required='')
                    #post-group.pull-right
                        .form-group#imagepost-group
                            input#select_image(type='file', name='postimage', accept='image/*|video/*')
                        .form-group#createpost-group
                            input.form-control(type='hidden', name='hidden_id', value='#{user_id}')
                            button#btnAdd.btn.btn-primary(type='submit', name="submit") Create Post


        section#section_posts.row.section2
            if(posts)
                for post in posts
                    .showdata-index.col-md-6.col-md-offset-3
                        article.post
                            .info.postByUser
                                .row
                                    .pic-user
                                            a(href='')
                                                img.postImage.img-circle(src='/images/#{post.user_id.upload}', alt='avatar')
                                    .col-md-6.userName
                                        h4.header-post-user #{post.user_id.username}
                                        p Posted on #{format_moment(post.created_at).format("MMM DD, YYYY HH:mmA")}
                            p.contentPost #{post.status}
                                .gallery
                                    if(post.image)
                                        .eachImage
                                            img(src='/images/post-images/#{post.image.name}')
                                    if(post.video)
                                        .post-video
                                            video(width='400', controls='')
                                                source#video_here(src='/images/post-images/#{post.video.name}')
                                                |     Your browser does not support HTML5 video.
                            .interaction.post-interact(user_id="#{post.user_id.id}", post_id="#{post.id}")
                                a.like(href='javascript:;')
                                    | Like
                                    |  |
                                a.comment(href='javascript:;')  Comment |
                                a.share(href='javascript:;')  Share
                            .appendLike
                                | Camsasota and 5 others like this


    script(src='/javascripts/jquery-3.2.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/dateFormat.min.js')
    script(src='/javascripts/api/main.js')
